<section class="banner">
	<div class="container_fluid">
		<div class="row no-gutters">
			<div class="col banner__content">
				<h1 class="banner__title">Creating a unique look.</h1>
				<p class="banner__text">Never been easier.</p>
				<button class="banner__btn text-uppercase">See Features</button>
				<button class="banner__btn text-uppercase">Purchase Now</button>
			</div>
		</div>
	</div>
</section>