<section class="content">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>About Page</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, at unde qui ex est velit laudantium dolores fuga, quam
					nobis quo earum repellendus dicta perferendis voluptates saepe nostrum, odit aperiam.
				</p>
				<h4>NodeJS Version</h4>
				<p>{{ version }}</p>
			</div>
		</div>
	</div>
</section>