{{> header }}
<section class="chat">
	<div class="chat-area container">

		{{!-- {{> message }} --}}

	</div>
	<form class="chat-form" id="chatForm">
		<div class="form-row">
			<div class="col-sm-3">
				<div class="input-group">
					<input id="userName" class="form-control" type="text" name="name" placeholder="Input your name" required>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="input-group">
					<input id="userMessage" class="form-control" type="text" name="message" placeholder="Input your message" required>
					<div class="input-group-append">
						<span id="chatEmoji" class="input-group-text">emoji</span>
					</div>
				</div>

				{{!--
				<div class="input-group">
					<textarea id="userMessage" class="form-control" type="text" name="message" rows="3" placeholder="Input your message" required></textarea>
					<div class="input-group-append">
						<span id="chatEmoji" class="input-group-text">emoji</span>
					</div>
				</div> --}}
			</div>
			<div class="col-sm-2">
				<button id="chatBtn" class="btn btn-light w-100">Send</button>
			</div>
		</div>
	</form>
</section>