{{> header }} {{> banner }}
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Home Page</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero porro culpa excepturi nulla vitae ullam quibusdam blanditiis
					itaque laudantium commodi provident doloremque temporibus fuga quidem eum magni quasi, ex eos.
				</p>
			</div>
		</div>
	</div>
</section>
{{> footer }}