<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />

<link rel="stylesheet" href="./css/medusa.css">

<section class="gallery">
	<div class="container">
		<h3>Gallery
			<span class="text-muted">Owl Carousel 2 + Fancybox</span>
		</h3>
		<div class="owl-carousel owl-theme">

			<div>
				<a data-fancybox="gallery" href="./img/medusa/big/1.jpg">
					<img class="img-fluid" src="./img/medusa/small/1.jpg" alt="Medusa 1">
				</a>
				<a data-fancybox="gallery" href="./img/medusa/big/2.jpg">
					<img class="img-fluid" src="./img/medusa/small/2.jpg" alt="Medusa 2">
				</a>
			</div>
			<div>
				<a data-fancybox="gallery" href="./img/medusa/big/3.jpg">
					<img class="img-fluid" src="./img/medusa/small/3.jpg" alt="Medusa 3">
				</a>
				<a data-fancybox="gallery" href="./img/medusa/big/4.jpg">
					<img class="img-fluid" src="./img/medusa/small/4.jpg" alt="Medusa 4">
				</a>
			</div>
			<div>
				<a data-fancybox="gallery" href="./img/medusa/big/5.jpg">
					<img class="img-fluid" src="./img/medusa/small/5.jpg" alt="Medusa 5">
				</a>
				<a data-fancybox="gallery" href="./img/medusa/big/6.jpg">
					<img class="img-fluid" src="./img/medusa/small/6.jpg" alt="Medusa 6">
				</a>
			</div>
			<div>
				<a data-fancybox="gallery" href="./img/medusa/big/7.jpg">
					<img class="img-fluid" src="./img/medusa/small/7.jpg" alt="Medusa 7">
				</a>
				<a data-fancybox="gallery" href="./img/medusa/big/8.jpg">
					<img class="img-fluid" src="./img/medusa/small/8.jpg" alt="Medusa 8">
				</a>
			</div>

		</div>
	</div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js" defer></script>

<script src="./js/medusa.js" defer></script>