.header {
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: rgba(255, 255, 255, .95);
	z-index: 10;
}

.header__logo img {
	max-height: 40px;
}

.header__nav a {
	color: #000;
}

.header__nav a:hover {
	color: #02baab;
}

.header__nav .active {
	background-color: #02baab;
	color: #fff;
	cursor: default;
}

.header__nav .active:hover {
	color: #fff;
}

.banner {
	position: relative;
	padding: 20% 0;
	background: #111 url('../img/banner.jpg') fixed center center no-repeat;
	background-size: cover;
	color: #fff;
}

.banner::before {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	background: linear-gradient(transparent, #000);
}

.banner__title, .banner__text {
	font-size: 60px;
	text-shadow: 0 0 1px #000;
}

.banner__title {
	margin: 0;	
	color: #02baab;
}

@media (max-width: 768px) {
	.banner__title, .banner__text {
		font-size: 40px;
	}
}

.banner__btn {
	margin: 5px 1%;
	padding: 10px 25px;
	border: 1px solid #02baab;
	background-color: #02baab;
	font-size: 14px;
	color: #fff;
	transition: background-color .2s, color .2s;
}
.banner__btn:hover {
	background-color: transparent;
	color: #02baab;
}

.banner__btn:active {
	transform: scale(0.95);
}

@media (max-width: 768px) {
	.banner__btn {
		padding: 5px 15px;
		font-size: 12px;
	}
}

.content {
	padding: 50px 0;
}

.gallery {
	padding: 50px 0;
}

.footer {
	background-color: #000;
	color: #fff;
	padding: 30px 0;
}